/* Home made navtoggler */
* {
    margin: 0;
    --moveInTime: 1.5s;
    --moveInTimeDelay1: 2.0s;
    --moveInTimeDelay2: 3.5s;
    --transitontime: 0.5s;
  }

.menuTogglerContainer{
    transform-origin: top left;
    transition: all var(--transitontime) ease-in-out;
    background-color: transparent;
    box-shadow: 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    }



    /* Behavior for when the menu is closed */

    .menuTogglerContainerClosed{
    float: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  /*   transform: rotate(4deg);  */
    opacity: 1 !important;
    outline: none;
    }

    .line {
    display: block;
    float: none;
    position: relative;
    height: 3px;
    width: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
    transform-origin: top left;
    transition: all var(--transitontime) ease-in-out;
    }

    .second {
    top: 0px;
    }

    .third{
        transform-origin: bottom left;
    }

    /* Behavior for when the menu is open */
    .firstClose {
    left: 0px;
    transform: rotate(45deg);
    width: 26px;
    }

    .secondClose {
    top: -9px;
    visibility: hidden;
    background-color: transparent;
    transform: rotate(45deg);
    }

    .thirdClose {
    transform: rotate(-45deg);
    width: 26px;
    }

