.footer{
    margin: 4rem auto;
    max-width: 65%;
    display: flex;
    justify-content: space-between;
}


.email{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    min-width: 235px;
}

.handles{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;  
}
.margin{
    margin-left: 3.75rem;
}

.text{
    color: #202020;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.875rem;    
}

.text:hover{
    color: #9FA1A1;
   
}

@media (max-width: 720px) {
    .footer{
        flex-direction: column;
        align-items: center;
        margin-right: 0rem;
        max-width:98%
    }
    .email{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0rem;
        order: 1;
        
    }
    .handles{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    .margin{
        margin-left: 0rem;
    }

    .text{
        color: #202020;
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;    
    }
}
