.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: calc(8vw + 5px);
    margin-left: calc(4vw + 5px);
    z-index: 1000;
}

.circle {
    margin: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #3F3F3F;
    border-radius: 100px;
}

.circleFill {
    padding: 2px;
    margin: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #3F3F3F;
    border-radius: 100px;
    background-color: #3F3F3F;
    background-clip: content-box;
}


@media (max-width: 720px){
    .wrapper {
        display: none;
    }
}